<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Brian Scott" />
   <link href="http://blog.bscott.me/atom.xml" rel="alternate" title="Brian Scott" type="application/atom+xml" />

   <!-- ChartBeat --> 
   <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
    <a href="/">Brian Scott</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Brian Scott<br />
        DevOps Badass<br />
        B@Bscott.me
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/bscott/">github.com/bscott</a><br />
        <a href="http://twitter.com/brainscott/">twitter.com/brainscott</a><br />
        <a href="http://flickr.com/photos/mrnovell/">flickr.com/photos/mrnovell</a><br />
        <a href="http://www.linkedin.com/brianlscott">LinkedIn Profile</a>
      </p>
    </div>
    <span class="quora-follow-button dark" data-name="Brian-Scott-2">Follow <a href="http://www.quora.com/Brian-Scott-2">Brian Scott</a> on <a href="http://www.quora.com">Quora</a><script type="text/javascript" src="http://www.quora.com/widgets/follow?embed_code=m6kdS0g"></script></span>
    <div class="rss">
      <a href="http://blog.bscott.me/atom.xml">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<a href="http://github.com/bscott"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type="text/javascript">
if(document.location.protocol!='https:')
  document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRb.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
if(typeof ClickTale=='function') ClickTale(206,0.3,"www03");
</script>
<!-- ClickTale end of Bottom part -->

<!-- Google Analytics -->
<!-- <script type="text/javascript">
// var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
// document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
// </script>
// <script type="text/javascript">
// var pageTracker = _gat._getTracker("UA-6016902-1");
// pageTracker._trackPageview();
// </script> 
-->
<!-- Google Analytics end -->

<!-- ChartBeat -->
<script type="text/javascript">
var _sf_async_config={uid:4254,domain:"blog.bscott.me"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
       "js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();

</script>
</body>
</html>
